:root {
  --font: "Rubik", sans-serif;
  --main-azul: #2271D1;
  --bg-black: #141414;
  --bg-cinza: #595959;
  --bg-branco: #FFFFFF;
  --bottom-cyan: #155e75;
  --bottom-teal: #115e59;
  --bottom-indigo: #3730a3;
}